body {
    background:rgb(196, 215, 218);
   
}
#name {
    background-color: #E8E8E8;
    align-self: center;
    border-radius: 2em;
    position: relative;
    left: 40%;
    width: 25%;
    height: 3.5%;
    border-width: initial;
}
#regno{
    background-color: #E8E8E8;
    align-self: center;
    border-radius: 2em;
    position: relative;
    left: 40%;
    width: 25%;
    height: 3.5%;
}

#year{

background-color: #E8E8E8;

align-self: center;

border-radius: 2em;

position: relative;

left: 29%;

width: 25%;

height: 3.5%;

border-width: initial;

top: 13;

border-style: inset;
}

#dept{
    background-color: #E8E8E8;
    align-self: center;
    border-radius: 2em;
    position: relative;
    left: 29%;
    width: 25%;
    height: 3.5%;
    border-width: initial;
    top: 15;
}

#bn{
    background-color: #E8E8E8;
    align-self: center;
    border-radius: 2em;
    position: relative;
    left: 29%;
    width: 25%;
    height: 3.5%;
    border-width: initial;
}

#rn{
    background-color: #E8E8E8;
    align-self: center;
    border-radius: 2em;
    position: relative;
    left: 40%;
    width: 25%;
    height: 3.5%;
    border-width: initial;

}

#rsn{
    background-color: #E8E8E8;
    align-self: center;
    border-radius: 2em;
    position: relative;
    left: 40%;
    width: 25%;
    height: 3.5%;
    border-width: initial;

}

#od{
    background-color: #E8E8E8;
    align-self: center;
    border-radius: 2em;
    position: relative;
    left: 40%;
    width: 25%;
    height: 3.5%;
    border-width: initial;

}

#ot{
    background-color: #E8E8E8;
    align-self: center;
    border-radius: 2em;
    position: relative;
    left: 40%;
    width: 25%;
    height: 3.5%;
    border-width: initial;


}

#id{
    background-color: #E8E8E8;
    align-self: center;
    border-radius: 2em;
    position: relative;
    left: 40%;
    width: 25%;
    height: 3.5%;
    border-width: initial;


}

#lco{
    background-color: #E8E8E8;
    align-self: center;
    border-radius: 2em;
    position: relative;
    left: 40%;
    width: 25%;
    height: 3.5%;
    border-width: initial;

}